<div class="container">
	<div class="jumbotron">
		<h1>Eventbrite like</h1>
		<% if user_signed_in? %>
			<h2>Les 3 derniers evenements :</h2>
			<table class="table">
				<tr>
					<th>Evenement</th>
					<th>Description</th>
					<th>Participants</th>
					<th>Voir</th>
				</tr>
				
			</table>
			<h2>Les 3 évènements les plus populaires :</h2>
			<table class="table">
				<tr>	
					<th>Evenement</th>
					<th>Description</th>
					<th>Participant</th>
					<th>Voir</th>
				</tr>
			
			</table>
		<% end %>
	</div>
	<% unless user_signed_in? %>
		<div class="jumbotron">
			<h3>Inscrivez vous ou connectez vous pour suivre les evenements!</h3>
		</div>
	<% end %>
</div>
